<div class="container-fluid" id="container" style="margin-top: 75px;" data-infinite-scroll-status="ready" data-infinite-scroll-earlier-status="ready" data-infinite-scroll-position="<%= position %>" data-filekey="<%= filekey %>" data-infinite-scroll-earlier-position="<%= position %>">
    <table id="code" class="code-table">
    </table>
</div> 


<script src="/js/application.js"></script>
