<div class="container-fluid" id="container" style="margin-top: 75px;" data-infinite-scroll-status="ready" data-infinite-scroll-position="0" data-filekey="<%= filekey %>">
    <table id="code" class="code-table">
    </table>
</div> 


<script src="/js/application.js"></script>
